@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer reset, base, utils;

@layer reset {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }

    html
    {
        scroll-behavior: smooth;
    }
}

@layer base
{
    :root
    {
        --super-bg-color: #F9FAFB; /* dashboard background */
        --super-primary-color: #0F172A; /* buttons and navigation */
        --super-primary-hover: #0a0f1b; /* button hover*/
        --super-primary-light: #ffffff; /* navigation links hover */
        --super-secondary-color: #f3f4f6;
        --super-text-primary: #1f2937; /* heading etc */
        --super-text-secondary: #D1D5DB; /* paragraphs, writing etc */
        --super-text-white: #ffffff; /* set text color white*/
        --super-bg-white: #ffffff; /* set background color to white*/
        --super-bg-dark-blue: #0F172A;
    }

    body{
        font-family: "Inter", sans-serif;
        background-color: var(--super-bg-color);
    }  
    
    .super-dashboard
    {
        a{text-decoration: none;}
        ul{list-style: none;}
        p{color: var(--super-text-primary)}
        :where(h1, h2, h3, h4, h5, h6){color: var(--super-primary-color)}

    }
}

@layer utils
{
    .bg-white
    {
        background-color: var(--super-bg-white);
    }
}


.admin-dash-btn
{
    display: inline-block;
    background-color: var(--super-primary-color);
    color: var(--super-text-white);
    border-radius: 5px;
    padding: 10px 35px;
    font-size: 14px;
    cursor: pointer;
    transition: .5s ease;
    place-content: center;
    text-align: center;

    &:hover
    {
        background-color: var(--super-primary-hover);
    }

}
.admin-del-btn
{
    display: inline-block;
    background-color: #DC2626;
    color: var(--super-text-white);
    border-radius: 5px;
    padding: 10px 35px;
    font-size: 14px;
    cursor: pointer;
    transition: .5s ease;
    place-content: center;
    text-align: center;

    &:hover
    {
        background-color: #c41717;
    }
}

button{
    font-family: "Inter", sans-serif;
    border: none;
}
/* --------- margins class names --------- */
.mt-s{margin-top: 15px;}
.mt-1{margin-top: 25px;}
.mt-2{margin-top: 50px;}
.mt-3{margin-top: 75px;}
.mt-4{margin-top: 100px;}
.mt-5{margin-top: 125px;}

.mb-s{margin-bottom: 15px;}
.mb-1{margin-bottom: 25px;}
.mb-2{margin-bottom: 50px;}
.mb-3{margin-bottom: 75px;}
.mb-4{margin-bottom: 100px;}
.mb-5{margin-bottom: 125px;}

/* ---------- paddings class names ----------- */
.p-s{padding: 17px;}
.p-1{padding: 25px;}
.p-2{padding: 50px;}
.p-3{padding: 75px;}
.p-4{padding: 100px;}


/* ----------- card class name ----------- */
.dash-card
{
    background-color: var(--super-bg-white);
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
}

/* ---------- badges class names ------------ */
.admin-badge-primary{
    background-color: #dcfcd7;
    color: var(--super-primary-color);
    border-radius: 25px;
    padding: 5px 7px;
    font-size: 13px;
}

.admin-badge-secondary{
    background-color: #dbeafe;
    color: #1e40af;
    border-radius: 25px;
    padding: 5px 7px;
    font-size: 13px;
}

.adin-badge-info{
    background-color: #fedbfd;
    color: #af1ea5;
    border-radius: 25px;
    padding: 5px 7px;
    font-size: 13px;
}

.admin-badge-grey{
    background-color: #f3f4f6;
    color: var(--super-text-secondary);
    border-radius: 25px;
    padding: 5px 7px;
    font-size: 13px;
}

.admin-badge-danger{
    background-color: #faaeae;
    color: #a50202;
    border-radius: 25px;
    padding: 5px 7px;
    font-size: 13px;
}

/* ------- fontawesome icon color default ------- */
.admin-f-icon
{
    color: var(--super-text-primary);
}


/* -------------- other css ----------------- */
/* ------- sidebar component -------- */
.super-dashboard
{
    display: flex;
    height: 100vh;
}

.super-dashboard .sidebar
{
    width: 280px;
    background-color: var(--super-bg-dark-blue); 
    display: flex;
    flex-direction: column;

    .title
    {
        height: 100px;
        /* place-content: center; */
        text-align: center;
        color: var(--super-text-white);
        font-weight: 600;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;

        .title-img
        {
            background-color: var(--super-bg-white);
            padding: 5px;
            border-radius: 14px;
            overflow: hidden;

            img
            {
                width: 30px;
                object-fit: cover;
                object-position: center;
            }
        }

        .title-inner
        {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 10px;
        }
    }

    .navigation
    {
        flex: 1;
        padding: 12px;

        ul li
        {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 14px;
            margin-bottom: 8px;
            padding: 0 !important;

            &:hover,
            &.link-active
            {
                background-color: var(--super-primary-light);
                border-radius: 7px;
            }

            &:hover a,
            &:hover .f-icon,
            &.link-active a,
            &.link-active .f-icon
            {
                color: var(--super-primary-color);
            }

            a{
                color: var(--super-text-secondary);
                display: flex;
                align-items: center;
                padding: 12px 14px;
                width: 100%;

                .f-icon
                {
                    width: 25px;
                }
            }

            span{
                margin-left: 10px;
            }

            .f-icon{color: var(--super-text-secondary)}
        }


    }

    .sidebar-footer
    {
        height: 70px;
        padding: 15px 20px;
        
        .footer-title
        {
            font-size: 15px;
            color: var(--super-text-white);
        }

        .footer-year
        {
            font-size: 11px;
            color: var(--super-text-secondary);
        }
    }

    .close-btn
    {
        display: none;
    }

}


/* dashboard main content */
.super-dashboard .main-content
{
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    .content
    {
        padding: 15px;
    }

    .navbar
    {
        background-color: var(--super-bg-white);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 15px;
        box-shadow: 0 1px 2px var(--super-text-secondary);
    
        .nav-item
        {
           input
           {
                padding: 10px;
                border-radius: 7px ;
                width: 400px;
                font-family: "Inter", sans-serif;
                border: 1px solid var(--super-text-secondary);
           }
        
           &:last-child
           {
               display: flex;
               align-items: center;
               justify-content: space-between;
               width: 100px;
        
               .s-toggle-btn{
                    display: none;
                }
        
                a{
                    display: flex;
                    align-items: center;
                }
           }
        
        
           .s-profile
           {
               background-color: var(--super-text-secondary);
               width: 40px;
               height: 40px;
               border-radius: 50%;
               display: flex;
               align-items: center;
               justify-content: center;
               /* place-content: center;
               text-align: center; */
               color: var(--super-primary-color);
               margin-right: 7px;
           }
        
           @media (max-width: 768px) {
                
                &:last-child{
                    justify-content: flex-end;

                    .s-toggle-btn{
                        display: flex;
                    }
                }
                input
                {
                    width: 100%;
                }

            
                .dash-icon
                {
                    display: none;
                }

                .s-profile
                {
                    display: none;
                }

                .f-icon
                {
                    display: none;
                }

           }
        }
    }
}




@media (max-width: 768px)
{

    .super-dashboard
    {
        display: block;


        .sidebar
        {
            position: fixed;
            top: 0;
            left: -1000px;
            width: 100%;
            height: 100%;
            z-index: 999;
            transition: .5s ease-in-out;
            box-shadow: 0px 1px 1px rgba(0,0,0,.15);

            .close-btn
            {
                margin-right: 10px;
                display: inline-block;
            }
        }

        .move-sidebar
        {
            left: 0;
        }

    }
}