@import url("./super.css");

.search_filter
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search_uni
    {
        width: 300px;
        display: flex;
        align-items: center;

        form
        {
            display: grid;
            width: 100%;

            input{
                padding: 7px 10px;
                border: 1px solid #e1e1e1;
                font-family: 'Poppins', sans-serif;
                border-radius: 7px;
                font-size: 12px ;
            }
        }
    }

    .filter_uni
    {
        display: flex;
        gap: 10px;
        align-items: center;

        button{
            background-color: #2563EB;
            border-radius: 7px;
            padding: 8px 10px;
            color: #fff;
            font-size: 13px;
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
        }

        select{
            background-color: transparent;
            padding: 5px;
            border: 1px solid #e1e1e1;
            font-family: 'Poppins', sans-serif;
            border-radius: 6px;
        }
    }

    @media (max-width: 500px) {
        &{
            flex-direction: column;
        }
    }
}

.super-uni-display
{
    overflow-x: hidden;

    .bg-green{
        background-color: #F0FDF4;
        color: #16A34A;
        /* color: #2563EB; */
        padding: 4px 8px;
        border-radius: 15px;
        border: 1px solid #16A34A;
    } 
    .text-green{
        color: #16A34A;
    }
    .bg-orange{
        background-color: #FFFBEB;
        color: #D97706;
        padding: 4px 8px;
        border-radius: 15px;
        border: 1px solid #D97706;
    } 
    .text-orange{
        color: #D97706;
    }
    .bg-red{
        background-color: #FEF2F2;
        color: #DC2626;
        padding: 4px 8px;
        border-radius: 15px;
        border: 1px solid #DC2626;
    } 
    .text-red{
        color: #DC2626;
    }

    .scroll{
        overflow-x: auto;
    }

    table{
        min-width: 800px;
        width: 100%;
        border-collapse: collapse;
        font-family: 'Poppins', sans-serif;

        thead{
            font-size: 12px;
            color: #6B7280;
            text-align: left;
            background-color: #f5f5f5;
            
            th{
                padding: 10px 0 10px 22px;
            }
        }

        tbody{
            font-size: 13px;

            tr{
                border-bottom: 1px solid #e1e1e1;
            }

            td{
                padding: 15px 0 15px 22px;
            }
        }

        .actions
        {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 14px;

            svg
            {
                cursor: pointer;
            }
        }

    }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
  z-index: 99999;

   .bg-green{
        background-color: #F0FDF4;
        color: #16A34A;
        padding: 2px 6px;
        font-size: 12px;
        border-radius: 15px;
        border: 1px solid #16A34A;
    } 
    .bg-orange{
        background-color: #FFFBEB;
        color: #D97706;
        padding: 2px 6px;
        font-size: 12px;
        border-radius: 15px;
        border: 1px solid #D97706;
    } 
    .bg-red{
        background-color: #FEF2F2;
        color: #DC2626;
        padding: 2px 6px;
        font-size: 12px;
        border-radius: 15px;
        border: 1px solid #DC2626;
    } 

    .modal-delete{
        background: white;
        padding: 20px;
        border-radius: 10px;
        max-width: 300px;
        width: 80%;
        max-height: 650px;
        overflow-y: auto;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        position: relative;
        animation: scaleUp 0.3s ease;
        display: grid;

        .uni-info{
            margin-top: 14px;
            border-top: 1px solid #e1e1e1;
            padding: 12px 0 0 0;
        }

        .info-first{
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 10px;
        }
    }

    /* Modal box */
    .modal-content {
      background: white;
      padding: 20px;
      border-radius: 10px;
      max-width: 720px;
      width: 80%;
      max-height: 650px;
      overflow-y: auto;
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      position: relative;
      animation: scaleUp 0.3s ease;
      display: grid;

      .uni-info{
        margin-top: 14px;
        border-top: 1px solid #e1e1e1;
        padding: 12px 0 0 0;
      }

      .info-first{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 10px;

        span{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            text-align: center;
            place-content: center;
            font-size: 17px;
            font-weight: bold;
            color: #fff;
            background-color: var(--super-primary-color);
        }
      }

      .info-second
      {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        gap: 25px;

        .uni-item
        {
            height: 100px;
            background-color: #F9FAFB;
            border-radius: 8px;
            padding: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            span{
                color: #1E3A8A;
                font-size: 13px;
            }

            p {font-weight: bold;}


        }
      }
    }
    
    /* Close button */
    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 25px;
      cursor: pointer;
    }
}


/* ------------- pagination styling ----------- */
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.pagination-info {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  gap: 6px;
  list-style: none;
  padding: 0;
}

.pagination li {
  border: 1px solid #ddd;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.pagination li:hover {
  background: #f0f0f0;
}

.pagination .active-page {
  background: #2563EB;
  border-color: #2563EB;
  color: white;
}

.pagination .disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
