@import url("./student.module.css");

.profile
{
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 20px;
}

@media (max-width: 1200px)
{
    .profile
    {
        grid-template-columns: 1fr;
    }
}

.profile-upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    .profile-image
    {
        position: relative;
        width: 150px;
        margin: auto;

        .img{
            height: 150px;
            width: 150px;
            border-radius: 50%;
            background-color: var(--primary-color);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 45px;
            overflow: hidden;

            img
            {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .initials
        {
            color: #fff;
        }

        .edit-btn{
            position: absolute;
            background-color: #fff;
            padding: 10px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 1px 2px 3px rgba(0,0,0,.3);
            bottom: 5px;
            right: 0;
            cursor: pointer;
            z-index: 10;
        }
    }

    .profile-info
    {
        flex: 1;
    }
}

.profile-down
{
    .down-display
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > span{
            color: var(--text-secondary);
            font-size: 14px;
        }
    }
}


.basic-info
{
    .info-upper
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .info-form
    {
        .profile-row
        {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 15px;
        }
        
        .inputfields
        {
            display: grid;

            label{
                font-size: 13px;
                margin-bottom: 10px;
            }
        }
        .profile-input
        {
            border-radius: 5px;
            background-color: #f1f1f1;
            color: var(--text-primary);
            padding: 12px 15px;
            font-family: "Inter", sans-serif;
            border: none;
        }

    }
}


.profile-settings
{

    button
    {
        border: none;
    }

    .dash-btn-grey
    {
        display: inline-block;
        background-color: #d3d3d3;
        color: var(--text-secondary);
        border-radius: 5px;
        padding: 10px 35px;
        font-size: 14px;
        cursor: pointer;
        transition: .5s ease;
        outline: none;

        &:hover
        {
            background-color: var(--primary-hover);
            color:#fff;
        }
    }

    .setting
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4{font-size: 14px;}
        span{font-size: 12px}
    }

    @media(max-width: 500px)
    {
        .setting
        {
            flex-direction: column;
            align-items: flex-start;

            button{margin-top: 10px}
        }
    }
}

/* The Modal (hidden by default) */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
  z-index: 99999;
}

/* Modal box */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 720px;
  width: 80%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  position: relative;
  animation: scaleUp 0.3s ease;
  display: grid;

  .image-form
  {
    display: grid;

    input{
        padding: 10px 9px;
        border: 1px solid var(--primary-color);
        font-family: "Inter", sans-serif;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
    
    .profile-row
    {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        
        .inputfields
        {
            display: grid;
            
            label{
                font-size: 13px;
                margin-bottom: 10px;
            }
        }
    }
  }
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}